In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import nltk
import spacy

In [2]:
movie_reviews = pd.read_csv("C:/Users/Ankur/Desktop/Data_Science_Statistics/Mani/Projects/movie_reviews.csv")

In [3]:
movie_reviews

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production. <br /><br />The...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically there's a family where a little boy ...  negative
4      Petter Mattei's "Love in the Time of Money" is...  positive
...                                                  ...       ...
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

[50000 rows x 2 columns]

In [4]:
movie_reviews.shape

(50000, 2)

In [5]:
#Describing the dataset
movie_reviews.describe()

                                                   review sentiment
count                                               50000     50000
unique                                              49582         2
top     Loved today's show!!! It was a variety and not...  positive
freq                                                    5     25000

In [6]:
movie_reviews.head(10)

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive
5  Probably my all-time favorite movie, a story o...  positive
6  I sure would like to see a resurrection of a u...  positive
7  This show was an amazing, fresh & innovative i...  negative
8  Encouraged by the positive comments about this...  negative
9  If you like original gut wrenching laughter yo...  positive

In [7]:
movie_reviews['sentiment'].value_counts()

positive    25000
negative    25000
Name: sentiment, dtype: int64

In [8]:
movie_reviews.isna().sum()

review       0
sentiment    0
dtype: int64

In [9]:
#split the train and test dataset
train_review = movie_reviews.review[:35000]
train_sentiment = movie_reviews.sentiment[:35000]

test_review = movie_reviews.review[35000:]
test_sentiment = movie_reviews.sentiment[35000:]


#train_review = movie_reviews.review[:35000]

In [10]:
import re

In [11]:
import en_core_web_sm
from nltk.tokenize.toktok import ToktokTokenizer
from bs4 import BeautifulSoup

In [12]:
# Text tokenization
from spacy.lang.en import English
nlp =English()
moview_reviews_string = str(movie_reviews.review)
movie_reviews.review.head().tolist
   
doc = nlp(moview_reviews_string)

token_list=[]
for token in doc:
    token_list.append(token.text)
print(token_list)

['0', '       ', 'One', 'of', 'the', 'other', 'reviewers', 'has', 'mentioned', 'that', '...', '\n', '1', '       ', 'A', 'wonderful', 'little', 'production', '.', '<', 'br', '/><br', '/>The', '...', '\n', '2', '       ', 'I', 'thought', 'this', 'was', 'a', 'wonderful', 'way', 'to', 'spend', 'ti', '...', '\n', '3', '       ', 'Basically', 'there', "'s", 'a', 'family', 'where', 'a', 'little', 'boy', '...', '\n', '4', '       ', 'Petter', 'Mattei', "'s", '"', 'Love', 'in', 'the', 'Time', 'of', 'Money', '"', 'is', '...', '\n                               ', '...', '                       \n', '49995', '   ', 'I', 'thought', 'this', 'movie', 'did', 'a', 'down', 'right', 'good', 'job', '...', '\n', '49996', '   ', 'Bad', 'plot', ',', 'bad', 'dialogue', ',', 'bad', 'acting', ',', 'idiotic', 'di', '...', '\n', '49997', '   ', 'I', 'am', 'a', 'Catholic', 'taught', 'in', 'parochial', 'elementary', '...', '\n', '49998', '   ', 'I', "'m", 'going', 'to', 'have', 'to', 'disagree', 'with', 'the', 'previou', '...', '\n', '49999', '   ', 'No', 'one', 'expects', 'the', 'Star', 'Trek', 'movies', 'to', 'be', 'high', '...', '\n', 'Name', ':', 'review', ',', 'Length', ':', '50000', ',', 'dtype', ':', 'object']

In [41]:
#Tokenization of text
#tokenizer=ToktokTokenizer()
#tokens = tokenizer.tokenize(movie_reviews["review"])
#print(tokens)

['0', 'One', 'of', 'the', 'other', 'reviewers', 'has', 'mentioned', 'that', '...', '1', 'A', 'wonderful', 'little', 'production.', '<br', '/', '><br', '/', '>The', '...', '2', 'I', 'thought', 'this', 'was', 'a', 'wonderful', 'way', 'to', 'spend', 'ti', '...', '3', 'Basically', 'there', "'", 's', 'a', 'family', 'where', 'a', 'little', 'boy', '...', '4', 'Petter', 'Mattei', "'", 's', '"', 'Love', 'in', 'the', 'Time', 'of', 'Money', '"', 'is', '...', '...', '49995', 'I', 'thought', 'this', 'movie', 'did', 'a', 'down', 'right', 'good', 'job', '...', '49996', 'Bad', 'plot', ',', 'bad', 'dialogue', ',', 'bad', 'acting', ',', 'idiotic', 'di', '...', '49997', 'I', 'am', 'a', 'Catholic', 'taught', 'in', 'parochial', 'elementary', '...', '49998', 'I', "'", 'm', 'going', 'to', 'have', 'to', 'disagree', 'with', 'the', 'previou', '...', '49999', 'No', 'one', 'expects', 'the', 'Star', 'Trek', 'movies', 'to', 'be', 'high', '...', 'Name', ':', 'review', ',', 'Length', ':', '50000', ',', 'dtype', ':', 'object']

In [13]:
#Removing the html strips
def strip_html(text):
    soup = BeautifulSoup(text, "html.parser")
    return soup.get_text()

#Removing the square brackets
def remove_between_square_brackets(text):
    return re.sub('\[[^]]*\]', '', text)

#Removing the html strips and square brackets
def denoise_text(text):
    text = strip_html(text)
    text = remove_between_square_brackets(text)
    return text

movie_reviews['review']=movie_reviews['review'].apply(denoise_text)

In [14]:
movie_reviews['review']

0        One of the other reviewers has mentioned that ...
1        A wonderful little production. The filming tec...
2        I thought this was a wonderful way to spend ti...
3        Basically there's a family where a little boy ...
4        Petter Mattei's "Love in the Time of Money" is...
                               ...
49995    I thought this movie did a down right good job...
49996    Bad plot, bad dialogue, bad acting, idiotic di...
49997    I am a Catholic taught in parochial elementary...
49998    I'm going to have to disagree with the previou...
49999    No one expects the Star Trek movies to be high...
Name: review, Length: 50000, dtype: object

In [15]:
# Text tokenization
from spacy.lang.en import English
nlp =English()
moview_reviews_string = str(movie_reviews['review'])
movie_reviews.review.head().tolist
   
doc = nlp(moview_reviews_string)

token_list=[]
for token in doc:
    token_list.append(token.text)
print(token_list)

['0', '       ', 'One', 'of', 'the', 'other', 'reviewers', 'has', 'mentioned', 'that', '...', '\n', '1', '       ', 'A', 'wonderful', 'little', 'production', '.', 'The', 'filming', 'tec', '...', '\n', '2', '       ', 'I', 'thought', 'this', 'was', 'a', 'wonderful', 'way', 'to', 'spend', 'ti', '...', '\n', '3', '       ', 'Basically', 'there', "'s", 'a', 'family', 'where', 'a', 'little', 'boy', '...', '\n', '4', '       ', 'Petter', 'Mattei', "'s", '"', 'Love', 'in', 'the', 'Time', 'of', 'Money', '"', 'is', '...', '\n                               ', '...', '                       \n', '49995', '   ', 'I', 'thought', 'this', 'movie', 'did', 'a', 'down', 'right', 'good', 'job', '...', '\n', '49996', '   ', 'Bad', 'plot', ',', 'bad', 'dialogue', ',', 'bad', 'acting', ',', 'idiotic', 'di', '...', '\n', '49997', '   ', 'I', 'am', 'a', 'Catholic', 'taught', 'in', 'parochial', 'elementary', '...', '\n', '49998', '   ', 'I', "'m", 'going', 'to', 'have', 'to', 'disagree', 'with', 'the', 'previou', '...', '\n', '49999', '   ', 'No', 'one', 'expects', 'the', 'Star', 'Trek', 'movies', 'to', 'be', 'high', '...', '\n', 'Name', ':', 'review', ',', 'Length', ':', '50000', ',', 'dtype', ':', 'object']

In [16]:
# removing special characters and numbers
movie_reviews['review'].str.lower()
movie_reviews['review'] = movie_reviews['review'].apply(lambda x: re.sub(r'[^a-zA-z0-9\s]',"",x))
movie_reviews['review']

0        One of the other reviewers has mentioned that ...
1        A wonderful little production The filming tech...
2        I thought this was a wonderful way to spend ti...
3        Basically theres a family where a little boy J...
4        Petter Matteis Love in the Time of Money is a ...
                               ...
49995    I thought this movie did a down right good job...
49996    Bad plot bad dialogue bad acting idiotic direc...
49997    I am a Catholic taught in parochial elementary...
49998    Im going to have to disagree with the previous...
49999    No one expects the Star Trek movies to be high...
Name: review, Length: 50000, dtype: object

In [18]:
# removing stopwords
nltk.download('stopwords')
from nltk.corpus import stopwords
#Setting English stopwords
stopword_list=nltk.corpus.stopwords.words('english')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Ankur\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [19]:
movie_reviews['review'] = movie_reviews['review'].apply( lambda x : " ".join(word for word in x.split() if word not in stopword_list))

In [20]:
movie_reviews['review']

0        One reviewers mentioned watching 1 Oz episode ...
1        A wonderful little production The filming tech...
2        I thought wonderful way spend time hot summer ...
3        Basically theres family little boy Jake thinks...
4        Petter Matteis Love Time Money visually stunni...
                               ...
49995    I thought movie right good job It wasnt creati...
49996    Bad plot bad dialogue bad acting idiotic direc...
49997    I Catholic taught parochial elementary schools...
49998    Im going disagree previous comment side Maltin...
49999    No one expects Star Trek movies high art fans ...
Name: review, Length: 50000, dtype: object